#productCard {
  border-radius: 1rem;
  background: #fff;
}

ion-progress-bar {
  height: 6px;
  border-radius: 20px;
  --background: #fff;
  --progress-background: #015557;
}

.wrap p {
  white-space: nowrap;
  text-align: right;
}

.prog {
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating ion-item {
  --background: transparent;
}

#productCard ion-icon {
  font-size: 16px;
  padding: 0 3px;
  // color: #fe9f17;
  color: #0c853c;
}

#productCard ion-item {
  --padding-start: 0px;
}

.chipWrap {
  margin: 10px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

round-progress {
  height: 60px !important;
  width: 60px !important;
  margin: 6px 6px;
}
.progressBar{
    height: 80px !important;
    width: 80px !important;
    margin: 6px 6px; 
}
.progWrap {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.current {
  top: 50%;
  bottom: auto;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  color: #000;
  font-weight: 100;
  line-height: 1;
}
.progress-outer {
  width: 10rem;
}

.productTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
}

span {
  color: rgb(115, 115, 115);
  font-weight: 500;
  font-size: 14px;
}

h6 {
  font-size: 13px;
  font-weight: 500;
}

ion-grid {
  border-radius: 1rem;
  padding: 12px;
  background: #f2f6f6;
  margin-top: 2rem;
}

.imgwrap {
  position: relative;
  height: 300px;
  width: 100%;
}

.imgwrap img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding-left: 20px;
  object-fit: contain;
}
