ion-card {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.slideWrap {
  position: relative;
}

.slideWrap h2 {
  position: absolute;
  bottom: 10%;
  color: #fff;
  left: 40%;
}

.swiper-slide {
  border-radius: 10px;
}

#slides ion-card-title {
  font-size: 16px;
  font-weight: 700;
  color: #015557;
}

#slides ion-card {
  margin: 6px;
  padding: 0;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: #f2f6f6;
}

#slides .imgContainer {
  width: 170px;
  position: relative;
}

#slides .test {
  width: 200px !important;
  height: 200px !important;
}

#slides ion-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  padding: 0.9rem;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#slides ion-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ion-slides {
  padding: 0 0 10px 0;
}

ion-slide {
  width: 100%;
}

ion-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageContainer {
  height: 170px;
  position: relative;
}

.imageContainer ion-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.wrap {
  display: flex;
  align-items: center;
}

.wrap ion-icon {
  font-size: 16px;
}
ion-chip {
  margin-left: 0;
  letter-spacing: 1.5px;
}
ion-toolbar {
  --min-height: 52px;
}